streamlit
langchain
langchain-community
faiss-cpu
sentence-transformers
pymupdf
pytesseract
pillow
opencv-python
transformers
torch
pinecone-client
langchain-pinecone
langchain-google-genai
google-generativeai
fastapi
uvicorn
python-dotenv
jsonref